body {
    margin: auto;
    background-color:wheat;

}

main {

}

#sectionum-id {

}

#h1-primeiro {
    
    text-align: center;
    background-color: burlywood;
}

footer {
    position: relative;
    top: 500px;
    text-align: center;
}