body {
    margin: auto;
    background-color:wheat;

}


#h1-primeiro {
    padding: 20px;
    text-align: center;
    background-color: burlywood;
}

footer {
    text-align: center;
    position: relative;
    top: 470px;
    
}